<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
		   connectionString="Data Source=DESKTOP-1BQD18C\SQLEXPRESS;Initial Catalog=MyProject;Integrated Security=True"
		   providerName="System.Data.SqlClient"
/>	</connectionStrings>
	<appSettings>
		<add key="ResetAnyTime" value="True" />
		<add key="ResetTime" value="60000" />
	</appSettings>
</configuration>

