@model FrontEnd2.Models.PersonViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = "CreateNewPerson";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;

}

<h1>CreateNewPerson</h1>

<h4>PersonModelViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PersonName" class="control-label"></label>
            <input asp-for="PersonName" id="personName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TaxNumber" class="control-label"></label>
            <input asp-for="TaxNumber" id="taxNumber" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" id="submitButton" value="Create" class="btn btn-primary" />
        </div>
        <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
    </div>
</div>

<script src="~/js/jquery-3.7.0.min.js"></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
