@model FrontEnd2.Models.PersonViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = "EditPersonView";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>EditPersonView</h1>

<h4>PersonModelViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" asp-for="PersonId" />
        <div class="form-group">
            <label asp-for="PersonName" class="control-label"></label>
            <input asp-for="PersonName" id="personNameEdit" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TaxNumber" class="control-label"></label>
            <input asp-for="TaxNumber" class="form-control" readonly />
        </div>
        <div class="form-group">
            <input type="submit" onclick="EditClicked(@Model.PersonId)" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
    <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
</div>

<script src="~/js/jquery-3.7.0.min.js"></script>
<script>
    let oldName = $("#personNameEdit").val();

    function EditClicked(id) {
        let personName = $("#personNameEdit").val();
        console.log(id);

        if (personName.length > 5 && (personName != oldName)) {
            $.ajax({
                url: "/Person/EditPerson",
                method: "POST",
                data: {
                    PersonId: id, PersonName: personName
                },
                headers: {
                    RequestVerificationToken: $("#RequestVerificationToken").val()
                },
                success: function (result) {
                    if (result.success) {
                        alert("conta editada com sucesso")
                        window.location.href = "Index";
                    }
                    else {
                        alert(result.message)
                    }
                }
            });
        }
        else
            alert("O nome deve ser diferente")
    }

</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
